@font-face{
    font-family: 'Alegreya Sans';
    src: url('./AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Alegreya Sans';
    src: url('./AlegreyaSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face{
    font-family: 'Alegreya Sans';
    src: url('./AlegreyaSans-Bold.ttf') format('truetype');
    font-weight: 700;
}